.hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.solid-input-bg {
  /* background: linear-gradient(135deg, #fefcfc 0%, #fdf7f7 25%, #fcf2f2 50%, #fcecec 75%, #f9e7e7 100%); */
  background: #f9e7e7;
}

.dark .solid-input-bg {
  background: #4f1b1b;
}